html {
  font-size: 10px;
}

body {
  background: #151515;
  font-family: Robot, "Helvetica Neue", sans-serif;
  padding-top: 6rem;
}

body * {
  font-family: Robot, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
